<% include ../partials/header%>
<style type="text/css">
.cleanfloat{
	margin-left: 11%;
	padding-inline-start:0px;
}
.cleanfloat::after{display: block; clear: both; content:""; visibility: hidden; height: 0;}/*清浮动*/
.pop {list-style:none; float:left; font-size:30px; color:#b0c4de; cursor:pointer;width: 10%;}
.hs,.cs{color:#AEDD81;}/*五角星样式*/
@media screen and (max-width: 800px) {
    .pop{
    	font-size: 18px;
    }
}

</style>
<div class="container" style="margin-bottom: 40px;">	
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Camp Project</p>
			<div class="list-group">
				<li class="list-group-item">Info1</li>
				<li class="list-group-item">Info2</li>
				<li class="list-group-item">Info3</li>
			</div>
		</div>	
		<div class="col-md-9">
			<div class="thumbnail">
				<img style="max-height: 475px;" class="img-responsive"src="<%=camp.Address%>">
				<div class="caption-full">
					
					<!-- <h4 style="text-align: right;">Rating</h4> -->
					<div style="width: 20%" class="pull-right">
					<h2 style="text-align: right;font-family:'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;margin-top: 10px;" >5$/Night</h2>
					
					<%if (camp.Comment.length!=0){%>
						<h2 style="text-align: right;font-family:'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;margin-top: 10px;" ><%=average%></h2>
					<%}%>
					</div>
					<div style="width: 80%">
					<h4><%=camp.Name%></h4>
					

					<span>Submitted By: <%=camp.author.username%></span>
				
					<div style="overflow: auto;max-height: 300px;">
					<p style=" word-wrap: break-word;word-break: break-all;white-space: pre-line;margin-bottom: 0px;"><%=camp.Description%> 	

					</p>
					</div>
					</div>

					<% if (CurUser && CurUser.id==camp.author.id) {%>
					<a class="btn btn-warning " href="/campground/<%=camp._id%>/edit">Edit</a>
					<form style="display:inline;" id="Delete" action="/campground/<%=camp._id%>?_method=DELETE" method="post">
						<button  class="btn btn-danger">Delete Post</button>
					</form>
					<%}%>
				</div>
			</div>
				<% locals.a=0;%>
				<div class="well" style="margin-top: 10px; padding-top: 0; padding-bottom: 0px;margin-bottom:6px; padding-left: 0px;padding-right: 0px;">
					
					<%if(camp.Comment.length==0){%>
						<div class="text-center">No Comment Yet</div>
					<%}%>

					<%   camp.Comment.forEach(function(obj){%>
						<div class="row" style="margin-left: 3.5px; margin-right: 8px;">
							<div style="width: 20%;" class="pull-right">
								<ul class="cleanfloat2" style="float: right; margin-bottom: 0px">
									<%for(var x=0;x<obj.Rating;x++){%>
								  	<li class="pop1" style="list-style:none; float:left; font-size:18px; margin:0px; color:#AEDD81;">&#9733;</li>
								  	<%}%>
								</ul>
								<p style="float: right;min-width: 66%;text-align: right;"><%=moment(obj.createdDate).fromNow()%></p>
								
							</div>
							<div style="width: 80%;">
							<h3 style="margin-top: 0px;"><%=obj.author.username%></h3>
							
							<p style=" word-wrap: break-word;
							word-break: break-all;
 							 overflow: auto;max-height: 150px;min-height: 40px;white-space: pre-line;"><%=obj.text%></p>
 							
							<% if (CurUser && CurUser.id==obj.author.id) { locals.a=1;%>
							<div style="margin-bottom: 5px;">
							<a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= obj._id %>" aria-expanded="false" aria-controls="collapse<%= obj._id %>">
    						Edit</a>
						  	<div class="collapse" id="collapseEdit<%= obj._id %>">
				    			<div class="well" style="border-left: 5px solid #00C851;">
						      <!--If the user is logged in, show the new comment form-->
							    <h4>Editing... <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
							    <form id="add-comment-form" action="/campground/<%= camp._id %>/comment/<%=obj._id%>?_method=PUT" method="post">
							        <div class="form-group">
							          <textarea class="form-control" name="comment2[text]"  rows="5" cols="70"><%=obj.text%></textarea>
							        </div>
							        <div class="form-group">
					               		<input class="form-control" type="hidden" value=0 name="comment2[Rating]" id="ll">
					               		<ul class="cleanfloat">
										  	<li class="pop" style="margin-left: 20%;">&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" style="margin-right: 20%;">&#9733;</li>
										</ul>
					                </div> 
							        <div class="form-group">
							          <button class="btn btn-success btn-sm">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
		        					</div>
		      					</form>
								</div>
  							</div>
							<form style="display:inline;"  action="/campground/<%=camp._id%>/comment/<%=obj._id%>?_method=DELETE" method="post">
						    	<button  class="btn btn-danger btn-xs">Delete </button>
							</form>
							</div>
							<%}%>

							</div>
							<%if(camp.Comment.indexOf(obj)!=camp.Comment.length-1){%>
							<hr style="margin-top: 15px;border-top:1px dotted gray;">
							<%}%>
							
						</div>	
						
					<%});%>
					<%  if (locals.a==0) {%>
					<div>
						
					    <a style="margin-top: 5px;" class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
					     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
  					</div>
  					<%}%>
				  	<div class="collapse" id="collapseComment">
					    <div class="well" style="border-left: 5px solid #00C851;">
							<% if(!CurUser) { %>
							<!--If the user is not logged in, direct him to the login page-->
							<h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
							<% } %>
							<% if(CurUser) { %>
						      <!--If the user is logged in, show the new comment form-->
							    <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
							    <form id="add-comment-form" action="/campground/<%= camp._id %>/comment" method="post">
							        <div class="form-group">
							          <input class="form-control" type="text" disabled value="<%= CurUser.username %>">
							        </div>
							        <div class="form-group">
							          <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
							        </div>
							        <div class="form-group">
					               		<input class="form-control" type="hidden" value=0 name="comment[Rating]" id="ll">
					               		<ul class="cleanfloat">
										  	<li class="pop" style="margin-left: 20%;">&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" >&#9733;</li>
											<li class="pop" style="margin-right: 20%;">&#9733;</li>
										</ul>
					                </div> 
							        <div class="form-group">
							          <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
		        					</div>
		      					</form>
	    					<% } %>
    					</div>
  					</div>

				</div>	
				
			<!-- </div> -->
		</div>		
	</div>
	
</div>

<% include ../partials/footer%>
<script type="text/javascript">
	var sample=document.getElementById("ll");
	console.log("hello");
  	$(function () {
        $(".cleanfloat li").hover(function(){
            $(this).addClass('hs');
            $(this).prevAll().addClass('hs');
        },function(){
            $(this).removeClass('hs');
            $(this).prevAll().removeClass('hs');
        })

        $(".cleanfloat li").click(function () {
            $(this).addClass('cs');
            $(this).prevAll().addClass('cs');
            $(this).nextAll().removeClass('cs');
            sample.value=$(this).index()+1;
        })
    })
</script>
